{% extends "Home/base.html" %}
{% block title %}Cyber Programmer - Sign-Up {% endblock %}
{% block css %}
<style>
    @import url('https://fonts.googleapis.com/css?family=PT+Sans');

    body {
        background: #fff;
        font-family: 'PT Sans', sans-serif;
    }

    h2 {
        padding-top: 1.5rem;
    }

    a {
        color: #333;
    }

    a:hover {
        color: #da5767;
        text-decoration: none;
    }

    .card {
        border: 0.40rem solid #f8f9fa;
        top: 10%;
    }

    .form-control2 {
        background-color: #f8f9fa;
        padding: 20px;
        padding: 25px 15px;
        margin-bottom: 1.3rem;
    }

    .form-control2:focus {

        color: #000000;
        background-color: #ffffff;
        border: 3px solid #da5767;
        outline: 0;
        box-shadow: none;

    }

    .btn2 {
        padding: 0.6rem 1.2rem;
        background: #da5767;
        border: 2px solid #da5767;
    }

    .btn-primary:hover {


        background-color: #df8c96;
        border-color: #df8c96;
        transition: .3s;

    }

    .justify-content-center {
        justify-content: center !important;
        align-items: center;
        display: flex;
        width: 72rem !important;
        margin-bottom: 20px;
    }
    @media only screen and (max-width: 576px){
        .justify-content-center{
            width: auto !important;
            display: block;

        }
    } 

</style>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<div class="alert alert-info my-3" role="alert">
    Hey! You are already Logged-In!
</div>
<div class="container my-3 mt-5 justify-content-center">
    <div class="justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <h2 class="card-title text-center">Login</h2>
                <div class="card-body py-md-4">
                    <form action="" method="POST">{% csrf_token %}
                        <fieldset disabled>
                        <div class="form-group">
                            <input type="text" class="form-control form-control2" id="name" placeholder="Username"
                                Required name="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control2" id="password"
                                placeholder="Password" Required name="pass1">
                        </div>

                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <a href="{% url 'signup' %}">Sign-Up</a>
                            <button class="btn btn-primary btn2" type="submit">Login</button>
                        </div>
                    </fieldset> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}

<div class="container my-3 mt-5 justify-content-center">
    <div class="justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <h2 class="card-title text-center">Login</h2>
                <div class="card-body py-md-4">
                    <form action="" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control form-control2" id="name" placeholder="Username"
                                Required name="username">
                        </div>
                        <a href="{% url 'password_reset' %}">Forgot Your Password?</a>
                        <div class="form-group">
                            <input type="password" class="form-control form-control2" id="password"
                                placeholder="Password" Required name="pass1">
                        </div>

                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <a href="{% url 'signup' %}">Sign-Up</a>
                            <button class="btn btn-primary btn2" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}